{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 100,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "useTabs": false,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn", "tw"]
}
